body{
    font-weight: bold;
    font-family:sans-serif;
    background-color: aqua;
   }
   .container{
    display:show;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
}
  .answer{
    display:none;
  }
  .nice {
      margin-bottom: 0px;
      height:270px;
      font-family: Arial, Helvetica, sans-serif;
      background-position: 0% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      text-shadow: black 0.9em 0.9em 0.9em;
  }
  .nice h4{
    text-decoration: underline;
  }
  
  ol{
    list-style-position:inside;
  }
  input{
    text-align: center;
  }
  .answer p{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .answer h2{
    color: DarkBlue;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }